<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link rel="shortcut icon" href="/img/log_t.png" type="image/png">
    <link th:href="@{/css/css2.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="blok1">
        <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
        <p th:text="'Описание:     ' + ${product.getDescription()}"></p>
        <p th:text="'Цена:         ' + ${product.getPrice()}"></p>
        <p th:text="'Склад:        ' + ${product.getWarehouse()}"></p>
        <p th:text="'Продавец:     ' + ${product.getSeller()}"></p>
        <p th:text="'Категория:    ' + ${product.getCategory().getName()}"></p>
        <hr>
        <div th:each="img : ${product.getImageList()}">
            <img th:src="'/img/' + ${img.getFileName()}" width="200px">
        </div>
    </div>
</body>
</html>