<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Магазин "Малыш"</title>
	<link rel="shortcut icon" href="/img/log_t.png" type="image/png">
	<link rel="shortcut icon" href="/img/log_t.png" type="image/png">
    <link th:href="@{/css/css.css}" type="text/css" rel="stylesheet">
</head>
<body class="bgimg">
	<div>
	<center>
		<center><div class="img"><center><img th:src="@{'/img/log_m.png'}" width="90%" height="90%" class="round"></center></div></center>
		<h1>Добро пожаловать в магазин "Малыш"</h1>
	</center>
	</div>
	<center><div class="avtor">
		<form method="post" action="/process_login" id="cn1">
			<center><h3>Авторизация</h3></center>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<center><input type="text" placeholder="Введите имя пользователя" name="username" id="username" class="pol"></center>
			<br>
			<center><input type="password" placeholder="Введите пароль" name="password" id="password" class="pol"></center>
			<br>
			<center><input type="submit" value="Войти" class="btk"></center>
			<div th:if="${param.error}" style="color: red">
				<a>Неправильный логин или пароль, повторите снова или обратитесь к администратору</a>
			</div>
		</form>
		<br>
		<center><button onclick="window.location.href = '/auth/registration';" class="btk">Регистрация</button></center>
		<br>
		<center><button onclick="window.location.href = '/product';" class="btk">Посмотр товара</button></center>
	</div></center>
	<div>
		<div>
			<h2>Информация о сайте:</h2>
			<img th:src="@{'/img/log6.jpg'}" width="20%" height="20%" align="left">
			<a>
				Всем привет! Я – владелец, создатель и идейный вдохновитель этого магазина!
				И здесь я рассажу историю «Малыша». С чего всё началось и куда идет.
				Мысль заняться детской обувью возникла еще в далеком 2015 году, когда я не смогла найти своей годовалой дочке подходящие сандалики.
				В итоге она ходила в мальчиковых, а у меня появились первые тридцать пар на продажу и страничка в Instagram.
				За следующие два года было много всего - заваленная обувью квартира, кредиты на развитие, неудачное партнерство.
				И к декабрю 2017 назрела необходимость открытия собственного фирменного магазина. Как это было страшно! Моему второму ребенку на тот момент было всего 4 месяца.
				Помещение нашлось неожиданно быстро, небольшое, 50 квадратов, в совершенно не подходящем состоянии - ободранные стены в дырах, черный кафель на полу,
				отсутствие склада (но зато рядом с домом, а я не вожу машину, а на руках грудной ребенок).
				Делали всё сами. Брат и дедушка строили стену и ресепшен по ночам, после работы, друзья закрывали черный пол белым линолеумом,
				мы с подругой и грудным ребенком наперевес шпаклевали и красили стены. В последнюю ночь раскрашивали ресепшен и расставляли товар.
				Как это было волнительно! Первые два дня работы и первые 100 тысяч выручки (на тот момент уже сложилась лояльная ко мне клиентская база,
				она и пришла на открытие, за что благодарна до сих пор!).
				Через полтора года в этом магазине стало тесно. Товар лежал везде – на полу, подоконниках, в гараже. И пришлось искать помещение побольше.
				В этот раз делала всё по уму – дизайнерский ремонт, рабочие, клининг. Получилось очень красиво, светло, просторно, с детской игровой зоной и удобным диваном для пап.
				Здесь же родился первый интернет-магазин. Неудачный.
				А потом наступил март 2020 года. И пандемия. Ситуация в мире непонятная, но всем еще верится в лучшее. Нет, не так. Мне ещё верится в лучшее.
				Да и всему нашему маленькому Хабаровску тоже. Кажется, что до нас, как обычно, ничего не дойдёт. Единственное - купила в магазин маски и антисептик. Лежали ждали чего-то.
				Всё изменилось и перестало быть томно скучным в одну ночь. Когда оказалось, что нужно срочно закрыть магазин на карантин. На неделю (ха-ха, на неделю!).
				Увольнять людей и закрывать бизнес было не вариант. Во-первых, каждый раз искренне верилось, что это ещё на недельку и откроемся. Во-вторых,
				кредиты бы сами себя не отдали. В-третьих, была стойкая вера и любовь к своему делу.
				Открывать магазин и работать на свой страх и риск тоже было не вариант. Здесь причины скорее эмоциональные и нравственные. Было страшно.
				За работников, за клиентов. Как обеспечить безопасность в магазине? Как заставить детей носить маски и не засовывать ценники себе в рот?
				Но вопрос выживания встал остро. Надо было принимать меры. Паники было всего часов 20, потом началась работа.
				С двумя детьми на руках (садики на тот момент тоже перестали работать).
				Три фактора, которые спасли меня тогда, - наличие достаточно раскрученного Инстаграма, сформированная клиентская база и наличие зачаточной службы доставки.
				Сутками отвечала всем на запросы. По наличию, по доставке, по оплате. Поняла, что так нельзя. И вопрос интернет-магазина с актуальным наличием, качественными фото,
				возможностью заказа и оплаты встал крайне остро. И мы это сделали! Так появилось вот это пространство, где Вы сейчас находитесь!
				Как оказалось, интернет-магазин – это огромный живой организм. Где всё время надо что-то дорабатывать, что-то ломается и требует внимания. Почти ежедневного.
				И я, как девочка, наверное справляюсь с этим не всегда быстро и качественно. Но однозначно с любовью и понимаем, как сделать удобнее для таких же мам, как я.
				Что было потом?
				Неудачное открытие еще одного магазина, миллионные убытки, страх и много-много работы. Справились и с этим.
				И вот Торопыжке уже почти 7 лет. И для меня это не просто работа, это мой третий ребенок. Сложный, местами непослушный, но очень любимый.
				Конечно же, сейчас Торопыжка – это не только я, это целых 8 человек. Каждый из которых разделяет мою любовь к проекту. Мы любим детей,
				мы умеем находить с ними общий язык, мы знаем очень много о детской одежде и обуви, мы можем по фото подобрать подходящий размер и даже отговорить от ненужных покупок.
				Нам доверяют уже более 6000 мам. И это – самое ценное
			</a>
		</div>
		<div>
			<h2>Контакты:</h2>
			<li>Контакты: ХХХХХХ г. Москва, ул. ХХХХХХХХХ, д. ХХ, кор. ХХ, офис ХХХ</li>
			<li>Факс: 8(495)ХХХ-ХХ-ХХ</li>
			<li>Тел: 8(495)ХХХ-ХХ-ХХ</li>
			<li>Email: ХХХХХХХ@mail.ru</li>
		</div>
	</div>
</body>
</html>